.hards-container img {
    width: 9vw;
    margin:2rem;
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
}

span {
    color: grey;
}

.pai-hards {
    background-color: black;
    height: 140vh;
}

.hards-container {
    width: 60vw;
    margin: auto;
    flex-wrap: wrap;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.title-hards {
    font-size: 5rem;
    width: 100vw;
    margin:15rem 0 10rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}